# polynote example


<br>

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Hello World!")

Hello World!

In [3]:
select ("Hello World!")

[Hello World!: string]

In [4]:
val scala_df = spark.createDataFrame(List(
(1, 4),
(2, 5),
(3, 6)))

In [5]:
scala_df

[_1: int, _2: int]

In [14]:
select * from scala_df

[_1: int, _2: int]

In [6]:
from pyspark.sql import DataFrame
df = DataFrame(scala_df, sqlContext)
df = df.toPandas()
df

   _1  _2
0   1   4
1   2   5
2   3   6

In [7]:
x = 1

In [8]:
x

1

In [10]:
y #defined y = 1 in earlier cell but deleted the cell
  #"no hidden state" feature

java.lang.RuntimeException: NameError: name 'y' is not defined